/*
 * Architect game styles
 */

/* Hand and card global positioning */
.hand {
    display: inline-block; 
    padding: 20px;
    margin: 0px;
}
.card { 
    width: 90px;
    margin-left: 5px;
}
.active-hand .card { 
    cursor: pointer;
}

/* Card in stack */
.stacked .card {
    margin-left: -92px;
}
.stacked .card:first-child {
    margin-left: 5px;
}

/* Cards in grid */
.grid {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-bottom: 1em;
}
.grid .card { 
    position: absolute;
}

/* Other styles */
#active {
    z-index:10;
}
.all {
    width: 100%;
    height: calc(100vh - 50px);
    position:absolute;
    z-index:-1;
}
.rotate0 {
    transform: rotate(0deg) translateZ(0);
    transform-origin: 50% 50%;
}
.rotate90 {
    transform: rotate(90deg) translateZ(0);
    transform-origin: 75% 50%;
}
.rotate180 {
    transform: rotate(180deg) translateZ(0);
    transform-origin: 50% 50%;
}
.rotate270 {
    transform: rotate(270deg) translateZ(0);
    transform-origin: 50% 33.333%;
}
